{% extends "dashboard.html.twig" %}

{% block title %}
Editer un gite
{% endblock %}

{% block body %}
<h1>Editer un gite</h1>

{{ form_start(formGite) }}

<div class="row">
    <div class="col-md-6">
        {{ form_row(formGite.nom) }}
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        {{ form_row(formGite.surface) }}
    </div>
    <div class="col-md-4">
        {{ form_row(formGite.chambre) }}
    </div>
    <div class="col-md-4">
        {{ form_row(formGite.couchage) }}
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        {{ form_row(formGite.description) }}
    </div>
    <div class="col-md-6">
        {{ form_row(formGite.equipements) }}
    </div>
</div>

<div class="form-group">
    <button type="submit" class="btn btn-primary">Mettre à jour</button>
    <button type="reset" class="btn btn-default">Annuler</button>
</div>

{{ form_end(formGite) }}

{% endblock %}